.curr
{
    color: green;
}

.bgcol
{
    background-color: #11d87e;
}

element.style {
    border-top-color: rgb(100, 107, 209);
}

.tds-color_meteorite {
    color: #585858;
}
.tds-content-panel, .tds-content-tile {
    background: #fff;
    border-radius: .5rem;
    border-top: .5rem solid #fff;
}